<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teeqee.mybatis.dao.PlayerLogMapper" >
  <resultMap id="BaseResultMap" type="com.teeqee.mybatis.pojo.PlayerLog" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="DATE" />
    <result column="login_total" property="loginTotal" jdbcType="INTEGER" />
    <result column="online_time" property="onlineTime" jdbcType="INTEGER" />
    <result column="video_num" property="videoNum" jdbcType="INTEGER" />
    <result column="message_num" property="messageNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, openid, login_time, login_total, online_time, video_num, message_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from player_log
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <!--用户登录获取日志-->
  <select id="selectByTimeLog" resultMap="BaseResultMap">
    select * from  player_log
    where
    openid = #{openid,jdbcType=VARCHAR}
    and
    login_time = #{loginTime,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from player_log
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.teeqee.mybatis.pojo.PlayerLog" >
    insert into player_log (uid, openid, login_time,
      login_total, online_time, video_num,
      message_num)
    values (#{uid,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{loginTime,jdbcType=DATE},
      #{loginTotal,jdbcType=INTEGER}, #{onlineTime,jdbcType=INTEGER}, #{videoNum,jdbcType=INTEGER},
      #{messageNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.teeqee.mybatis.pojo.PlayerLog" >
    insert into player_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="loginTotal != null" >
        login_total,
      </if>
      <if test="onlineTime != null" >
        online_time,
      </if>
      <if test="videoNum != null" >
        video_num,
      </if>
      <if test="messageNum != null" >
        message_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=DATE},
      </if>
      <if test="loginTotal != null" >
        #{loginTotal,jdbcType=INTEGER},
      </if>
      <if test="onlineTime != null" >
        #{onlineTime,jdbcType=INTEGER},
      </if>
      <if test="videoNum != null" >
        #{videoNum,jdbcType=INTEGER},
      </if>
      <if test="messageNum != null" >
        #{messageNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teeqee.mybatis.pojo.PlayerLog" >
    update player_log
    <set >
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=DATE},
      </if>
      <if test="loginTotal != null" >
        login_total = #{loginTotal,jdbcType=INTEGER},
      </if>
      <if test="onlineTime != null" >
        online_time = #{onlineTime,jdbcType=INTEGER},
      </if>
      <if test="videoNum != null" >
        video_num = #{videoNum,jdbcType=INTEGER},
      </if>
      <if test="messageNum != null" >
        message_num = #{messageNum,jdbcType=INTEGER},
      </if>
    </set>
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teeqee.mybatis.pojo.PlayerLog" >
    update player_log
    set openid = #{openid,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=DATE},
      login_total = #{loginTotal,jdbcType=INTEGER},
      online_time = #{onlineTime,jdbcType=INTEGER},
      video_num = #{videoNum,jdbcType=INTEGER},
      message_num = #{messageNum,jdbcType=INTEGER}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>