<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teeqee.mybatis.dao.PlayerDataMapper" >
  <resultMap id="BaseResultMap" type="com.teeqee.mybatis.pojo.PlayerData" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="stockmax" property="stockmax" jdbcType="INTEGER" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="gold" property="gold" jdbcType="INTEGER" />
    <result column="diamond" property="diamond" jdbcType="INTEGER" />
    <result column="newgamer" property="newgamer" jdbcType="INTEGER" />
    <result column="sound" property="sound" jdbcType="INTEGER" />
    <result column="biggestanimalid" property="biggestanimalid" jdbcType="INTEGER" />
    <result column="viplv" property="viplv" jdbcType="INTEGER" />
    <result column="vipreward" property="vipreward" jdbcType="INTEGER" />
    <result column="vip" property="vip" jdbcType="INTEGER" />
    <result column="invitevip" property="invitevip" jdbcType="INTEGER" />
    <result column="todaysign" property="todaysign" jdbcType="BIT" />
    <result column="weeksign" property="weeksign" jdbcType="INTEGER" />
    <result column="rounds" property="rounds" jdbcType="INTEGER" />
    <result column="rankchallengenum" property="rankchallengenum" jdbcType="INTEGER" />
    <result column="refreshworldnum" property="refreshworldnum" jdbcType="INTEGER" />
    <result column="speedincubate" property="speedincubate" jdbcType="INTEGER" />
    <result column="lastweekrank" property="lastweekrank" jdbcType="INTEGER" />
    <result column="lastweekreward" property="lastweekreward" jdbcType="INTEGER" />
    <result column="totalincubate" property="totalincubate" jdbcType="INTEGER" />
    <result column="lasttime" property="lasttime" jdbcType="TIMESTAMP" />
    <result column="rankpermission" property="rankpermission" jdbcType="INTEGER" />
    <result column="phonefare" property="phonefare" jdbcType="INTEGER" />
    <result column="phonefarenumber" property="phonefarenumber" jdbcType="INTEGER" />
    <result column="sitedata" property="sitedata" jdbcType="VARCHAR" />
    <result column="animaldata" property="animaldata" jdbcType="VARCHAR" />
    <result column="taskdata" property="taskdata" jdbcType="VARCHAR" />
    <result column="dartnum" property="dartnum" jdbcType="INTEGER" />
    <result column="buildingdata" property="buildingdata" jdbcType="VARCHAR" />
    <result column="step" property="step" jdbcType="INTEGER" />
    <result column="missnum" property="missnum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, openid, stockmax, stock, gold, diamond, newgamer, sound, biggestanimalid, viplv,
    vipreward, vip, invitevip, todaysign, weeksign, rounds, rankchallengenum, refreshworldnum,
    speedincubate, lastweekrank, lastweekreward, totalincubate, lasttime, rankpermission,
    phonefare, phonefarenumber, sitedata, animaldata, taskdata, dartnum, buildingdata,
    step,missnum
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    data.uid,
    data.openid,
    data.stockmax,
    data.stock,
    data.gold,
    data.diamond,
    data.newgamer,
    data.sound,
    data.biggestanimalid,
    data.viplv,
    data.vipreward,
    data.vip ,
    data.invitevip,
    data.todaysign,
    data.weeksign,
    data.rounds,
    data.rankchallengenum,
    data.refreshworldnum,
    data.speedincubate,
    data.lastweekrank,
    data.lastweekreward,
    data.totalincubate,
    data.lasttime,
    data.rankpermission,
    data.phonefare,
    data.phonefarenumber,
    data.sitedata,
    data.animaldata,
    data.taskdata,
    data.dartnum ,
    data.buildingdata ,
    data.step,
    data.missnum
    info.avatar ,
    info.nickname
    from
    player_data data
    left join
    player_info info
    on
    data.openid=info.openid
    where
    data.openid = #{openid,jdbcType=VARCHAR}
  </select>
  <insert id="insertSelective" parameterType="com.teeqee.mybatis.pojo.PlayerData" >
    insert into player_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="stockmax != null" >
        stockmax,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="gold != null" >
        gold,
      </if>
      <if test="diamond != null" >
        diamond,
      </if>
      <if test="newgamer != null" >
        newgamer,
      </if>
      <if test="sound != null" >
        sound,
      </if>
      <if test="biggestanimalid != null" >
        biggestanimalid,
      </if>
      <if test="viplv != null" >
        viplv,
      </if>
      <if test="vipreward != null" >
        vipreward,
      </if>
      <if test="vip != null" >
        vip,
      </if>
      <if test="invitevip != null" >
        invitevip,
      </if>
      <if test="todaysign != null" >
        todaysign,
      </if>
      <if test="weeksign != null" >
        weeksign,
      </if>
      <if test="rounds != null" >
        rounds,
      </if>
      <if test="rankchallengenum != null" >
        rankchallengenum,
      </if>
      <if test="refreshworldnum != null" >
        refreshworldnum,
      </if>
      <if test="speedincubate != null" >
        speedincubate,
      </if>
      <if test="lastweekrank != null" >
        lastweekrank,
      </if>
      <if test="lastweekreward != null" >
        lastweekreward,
      </if>
      <if test="totalincubate != null" >
        totalincubate,
      </if>
      <if test="lasttime != null" >
        lasttime,
      </if>
      <if test="rankpermission != null" >
        rankpermission,
      </if>
      <if test="phonefare != null" >
        phonefare,
      </if>
      <if test="phonefarenumber != null" >
        phonefarenumber,
      </if>
      <if test="sitedata != null" >
        sitedata,
      </if>
      <if test="animaldata != null" >
        animaldata,
      </if>
      <if test="taskdata != null" >
        taskdata,
      </if>
      <if test="dartnum != null" >
        dartnum,
      </if>
      <if test="buildingdata != null" >
        buildingdata,
      </if>
      <if test="step != null" >
        step,
      </if>
      <if test="missnum != null" >
        missnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="stockmax != null" >
        #{stockmax,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="gold != null" >
        #{gold,jdbcType=INTEGER},
      </if>
      <if test="diamond != null" >
        #{diamond,jdbcType=INTEGER},
      </if>
      <if test="newgamer != null" >
        #{newgamer,jdbcType=INTEGER},
      </if>
      <if test="sound != null" >
        #{sound,jdbcType=INTEGER},
      </if>
      <if test="biggestanimalid != null" >
        #{biggestanimalid,jdbcType=INTEGER},
      </if>
      <if test="viplv != null" >
        #{viplv,jdbcType=INTEGER},
      </if>
      <if test="vipreward != null" >
        #{vipreward,jdbcType=INTEGER},
      </if>
      <if test="vip != null" >
        #{vip,jdbcType=INTEGER},
      </if>
      <if test="invitevip != null" >
        #{invitevip,jdbcType=INTEGER},
      </if>
      <if test="todaysign != null" >
        #{todaysign,jdbcType=BIT},
      </if>
      <if test="weeksign != null" >
        #{weeksign,jdbcType=INTEGER},
      </if>
      <if test="rounds != null" >
        #{rounds,jdbcType=INTEGER},
      </if>
      <if test="rankchallengenum != null" >
        #{rankchallengenum,jdbcType=INTEGER},
      </if>
      <if test="refreshworldnum != null" >
        #{refreshworldnum,jdbcType=INTEGER},
      </if>
      <if test="speedincubate != null" >
        #{speedincubate,jdbcType=INTEGER},
      </if>
      <if test="lastweekrank != null" >
        #{lastweekrank,jdbcType=INTEGER},
      </if>
      <if test="lastweekreward != null" >
        #{lastweekreward,jdbcType=INTEGER},
      </if>
      <if test="totalincubate != null" >
        #{totalincubate,jdbcType=INTEGER},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="rankpermission != null" >
        #{rankpermission,jdbcType=INTEGER},
      </if>
      <if test="phonefare != null" >
        #{phonefare,jdbcType=INTEGER},
      </if>
      <if test="phonefarenumber != null" >
        #{phonefarenumber,jdbcType=INTEGER},
      </if>
      <if test="sitedata != null" >
        #{sitedata,jdbcType=VARCHAR},
      </if>
      <if test="animaldata != null" >
        #{animaldata,jdbcType=VARCHAR},
      </if>
      <if test="taskdata != null" >
        #{taskdata,jdbcType=VARCHAR},
      </if>
      <if test="dartnum != null" >
        #{dartnum,jdbcType=INTEGER},
      </if>
      <if test="buildingdata != null" >
        #{buildingdata,jdbcType=VARCHAR},
      </if>
      <if test="step != null" >
        #{step,jdbcType=INTEGER},
      </if>
      <if test="missnum != null" >
        #{missnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teeqee.mybatis.pojo.PlayerData" >
    update player_data
    <set >
      <if test="stockmax != null" >
        stockmax = #{stockmax,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="gold != null" >
        gold = #{gold,jdbcType=INTEGER},
      </if>
      <if test="diamond != null" >
        diamond = #{diamond,jdbcType=INTEGER},
      </if>
      <if test="newgamer != null" >
        newgamer = #{newgamer,jdbcType=INTEGER},
      </if>
      <if test="sound != null" >
        sound = #{sound,jdbcType=INTEGER},
      </if>
      <if test="biggestanimalid != null" >
        biggestanimalid = #{biggestanimalid,jdbcType=INTEGER},
      </if>
      <if test="viplv != null" >
        viplv = #{viplv,jdbcType=INTEGER},
      </if>
      <if test="vipreward != null" >
        vipreward = #{vipreward,jdbcType=INTEGER},
      </if>
      <if test="vip != null" >
        vip = #{vip,jdbcType=INTEGER},
      </if>
      <if test="invitevip != null" >
        invitevip = #{invitevip,jdbcType=INTEGER},
      </if>
      <if test="todaysign != null" >
        todaysign = #{todaysign,jdbcType=BIT},
      </if>
      <if test="weeksign != null" >
        weeksign = #{weeksign,jdbcType=INTEGER},
      </if>
      <if test="rounds != null" >
        rounds = #{rounds,jdbcType=INTEGER},
      </if>
      <if test="rankchallengenum != null" >
        rankchallengenum = #{rankchallengenum,jdbcType=INTEGER},
      </if>
      <if test="refreshworldnum != null" >
        refreshworldnum = #{refreshworldnum,jdbcType=INTEGER},
      </if>
      <if test="speedincubate != null" >
        speedincubate = #{speedincubate,jdbcType=INTEGER},
      </if>
      <if test="lastweekrank != null" >
        lastweekrank = #{lastweekrank,jdbcType=INTEGER},
      </if>
      <if test="lastweekreward != null" >
        lastweekreward = #{lastweekreward,jdbcType=INTEGER},
      </if>
      <if test="totalincubate != null" >
        totalincubate = #{totalincubate,jdbcType=INTEGER},
      </if>
      <if test="lasttime != null" >
        lasttime = #{lasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="rankpermission != null" >
        rankpermission = #{rankpermission,jdbcType=INTEGER},
      </if>
      <if test="phonefare != null" >
        phonefare = #{phonefare,jdbcType=INTEGER},
      </if>
      <if test="phonefarenumber != null" >
        phonefarenumber = #{phonefarenumber,jdbcType=INTEGER},
      </if>
      <if test="sitedata != null" >
        sitedata = #{sitedata,jdbcType=VARCHAR},
      </if>
      <if test="animaldata != null" >
        animaldata = #{animaldata,jdbcType=VARCHAR},
      </if>
      <if test="taskdata != null" >
        taskdata = #{taskdata,jdbcType=VARCHAR},
      </if>
      <if test="dartnum != null" >
        dartnum = #{dartnum,jdbcType=INTEGER},
      </if>
      <if test="buildingdata != null" >
        buildingdata = #{buildingdata,jdbcType=VARCHAR},
      </if>
      <if test="step != null" >
        step = #{step,jdbcType=INTEGER},
      </if>
      <if test="missnum != null" >
        missnum = #{missnum,jdbcType=INTEGER},
      </if>
    </set>
    where openid = #{openid,jdbcType=VARCHAR}
  </update>

  <!--初始化排行榜-->
  <select id="initTopRank"  resultType="com.teeqee.spring.dispatcher.servlet.rank.entity.TopRankInfo">
   select
   info.uid as uid,
   info.nickname as nickname,
   info.avatar as avatar,
   data.rounds as rounds,
   data.${orderByName} as rounds
   from
   player_data data
   left join
   player_info info
   on
   data.openid=info.openid
   where
   info.channelid=#{channelid,jdbcType=INTEGER}
   order by data.${orderByName}
   limit 50
  </select>
</mapper>